<table id="sortable">
  <thead>
    <tr>
      <%["PSID","Name","Role","Location","Date of Joining"].each do |header|%>
        <th><%=header%></th>
      <%end%>
    </tr>
  </thead>
  <tbody>
    <% profiles.each do |profile| %>
      <tr>
      <td><%= link_to profile.employee_id, show_profile_path(:id=> profile.id)%></td>
      <td><%= profile.common_name %></td>
      <td><%= profile.title %></td>
          <td><%= Location.get_location_name_by_id(profile.location_id) %></td>
      <td id="dates"><%= custom_date_with_month(profile.date_of_joining) %></td>
      <td>
        <%if profile.last_day.nil?%>
        <%= link_to 'Edit', edit_profile_path(:id => profile.id ), :class=>'button-link' %>
        <%unless profile.completed%>
          <%=link_to 'Mark as Complete', {:controller=>:profile, :action=>:complete, :id=>profile.id}, :class=>'button-link'%>
        <%end%>
        <%end%>
      </td>
    </tr>
    <% end %>
    </tbody>
</table>
