<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
	<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
	<title>Ramp Up <%= yield :title %></title>
	<meta name="keywords" content="" />
	<meta name="description" content="" />

	<%= stylesheet_link_tag    "application" %>
	<%= javascript_include_tag "application" %>
	
	<script type = "text/javascript" src="http://www.google.com/jsapi"></script>
</head>
<body>
	<div id ="content">
		<div id="logo">

			<div id="logo-img"><a href="/admin"><img src='/assets/rampup-logo.jpg' alt="logo"/></a></div>
			<div class="top_panel">
				<%= render :partial=>'partials/layout/top_panel'%>
			</div>
		</div>
		<div id="menu">
		<%= render :partial =>'partials/layout/navigation_bar'%>
		</div>
		<div id="main" class="fluid">
            <div id="sub_menu">
              <%=yield :sub_menu%>
            </div>
			<div id="column-right">
				<%if !@current_user.nil?%>
				  <%= render :partial=>'partials/layout/flash_notice'%>
                  <%=yield%>
				<%else%>
				<center>
					<%= yield :login %>
				</center>
				<%end%>
				<div class="clear"></div>
			</div>
		</div>
	</div>	
	<div id="footer">
		Copyright © <%=Time.now.year%> <a href="http://www.thoughtworks.com">ThoughtWorks India</a>                          
		<br/>
	</div>
</body>
</html>
